h1{
    color: red;
    text-align: center;
    font-style: italic;
}

#header{
    color: yellowgreen;

}
.wrapper{
    color:yellowgreen;   
}
img{
    border-radius: 50%
}
h6{
#header{

}
.wrapper{
    color: yellowgreen;
}

}
